.carina-logo {
  width: 200px;
}


td.wrapper.letterhead {
  padding-bottom: 30px;
}

table.row.article {
  padding-bottom: 30px;
  padding-top: 30px;
}

table.row.accent td.wrapper {
  background: $background-accent;

  .accent-content {
    padding: 40px 20px;

    @media (max-width: 600px) {
      padding: 20px !important;
    }
  }
}

table.row.section-start {
  margin-top: 40px;

  @media (max-width: 600px) {
    margin-top: 20px !important;
  }
}

.accent-border-below {
  border-bottom: solid 1px mix(black, $background-accent, 8%);
}
