.carina-logo {
  width: 200px;
}


td.wrapper.letterhead {
  padding-bottom: 30px;
}

table.row.article {
  padding-bottom: 30px;
  padding-top: 30px;
}

table.row.article.accent td {
  background: $background-accent;
}
