{% extends 'layouts/_main.html' %}

{% block body %}
  <table class="container {% block bodyClass %}{% endblock %}">
    <tr>
      <td>
        <table class="row">
          <tr>
            <td class="letterhead wrapper last">
              <table class="twelve columns">
                <tr>
                  <td>
                    <img src="https://8d8dcdd952aa2708c2ff-519cda130c91226e76017ae910bdb276.ssl.cf1.rackcdn.com/carina-logo-05269d3bf71f2eb271f572677dde85ebe2c96315ff9df42ce30657e8ee95ef62.jpg" alt="" class="carina-logo">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table class="row">
          <tr>
            <td class="wrapper last">
              {% block columnOne %}
                <p>Hey there,</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda odio eius qui non enim fugiat, maxime modi nulla animi unde nostrum tenetur ipsam distinctio explicabo placeat iusto eligendi eveniet veniam?</p>
              {% endblock %}
            </td>
          </tr>
        </table>
        <table class="container">
          <tr>
            <td>
              <table class="row">
                <tr>
                  <td class="unsub wrapper last">
                    <table class="twelve columns">
                      <tr>
                        <td>
                          {% block unsubscribe %}
                            <p class="center">
                              You’re receiving this message because you signed up for Carina by Rackspace. <br/><a href="*|UNSUB|*">Unsubscribe</a>
                            </p>
                          {% endblock %}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}
