{% extends 'layouts/one-column-text.html' %}

{% block columnOne %}
  <table class="row">
    <tr>
      <td class="wrapper last center">
        <table class="twelve columns">
          <tr>
            <td>
              <center>
                <h3 class="center">
                  <div mc:edit="headline" id="headline">You're invited to a Carina/Containers Meetup! Tuesday, April 26th</div>
                </h3>
              </center>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div class="row">
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tr>
            <td class="center">
              <div mc:edit="main_content" id="main_content">
                <img src="https://657cea1304d5d92ee105-33ee89321dddef28209b83f19f06774f.ssl.cf1.rackcdn.com/ContainYourself-5ef2353dd8f80ce29cc9371fc6102e13df45a39de0d99dfc15b1eabdcb59a342.png" alt="Contain Yourself!">
                <p>You're invited to join the Carina team Tuesday, April 26th for a full afternoon of hands on hacking, talks in a meetup style atmosphere alongside the OpenStack Austin summit. We've got some great news: with the OpenStack summit joining us in Austin the week of April 25th we've worked with a lot of amazing people to get a dedicated demo/discussion/hack space for containers!</p>

                <p>For this year’s OpenStack Summit, <a href="http://blog.rackspace.com/relax-recharge-rackspace-cantina-openstack-summit-austin/">Rackspace wanted to create a place</a> where attendees could power down and chill, or power up. Any OpenStack Summit attendee can come join us across the street from the summit to geek out about containers, Docker, Kubernetes, Docker Swarm, etc. for all three days (April 25-27).</p>

                <p>The Carina team has a dedicated space with screens, tables, and the team to focus on building, creating, and discussing all things containers.</p>

                <h3>But it gets cooler!</h3>

                <p>What's great is that we're not just inviting Summit attendees! We're not just inviting Summit attendees! <strong>We're also inviting any other container ecosystem/Carina interested people to join us Tuesday, April 26, from 12pm-5pm for a dedicated meet up!</strong></p>
                <p>
                tl;dr - not a summit attendee? <a href="http://www.cvent.com/d/pfq4wl/4W">Sign up here!</a>
               </p>

                <h3>We have a full array of speakers, including:</h3>
                <p>
                <ol>
                  <li><a href="https://twitter.com/rosskukulinski">Ross Kukulinski</a>, of NodeSource, talking about <strong>Using Carina in Production</strong>
                  <li><a href="ttps://twitter.com/lcalcote">Lee Calcote</a>, talking about <strong>Characterizing and Comparing Container Orchestrators</strong>
                  <li><a href="https://twitter.com/thockin">Tim Hockin</a>, senior software engineer @ Google, talking about <strong>Pain Management for Container Apps</strong>
                  <li><a href="https://twitter.com/everett_toews">Everett Toews</a>, Rackspace, talking about <strong>Effective Docker Swarm</strong>
                </ol>
              </p>
              <h3>Ermahgersh! how do I sign up if I'm not a Summit attendee?</h3>
              <p>
                If you're a Summit attendee, you're already in/invited. If not, just <a href="http://www.cvent.com/d/pfq4wl/4W">sign up here</a>, for free, so we know we can have enough food, drink, stickers etc. Y'all are welcome, summit attendee or no!

                When you come, just tell the Rackers out front you're a Carina guest.
              </p>
              <p> For directions, and the google map - <a href="https://getcarina.com/blog/container-day-austin-summit/">go to our blog to see the Google Map!</a>
              </p>
              <h3>Join us!</h3>
              <p>Grab a t-shirt or sticker, have a drink and a bite to eat, and chat containers with us. Hack on applications, learn, and experiment. It's all fair! We're geeks, so we're not focused on ABC (always be closing) we use ABc (always be containerizing).</p>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </div>
  <table class="row goodbye">
    <tr>
      <td class="wrapper last">
        <p>Thanks,<br>the Carina team</p>
      </td>
    </tr>
  </table>
{% endblock %}
