{% extends 'layouts/one-column-text.html' %}

{% block columnOne %}
  <p>Hey there,</p>
  <p>We noticed you created an account on Carina a while ago, but haven't spun up any clusters yet. We get it&mdash;you can do so much with your own cluster, you may not know where to start! We’re here to give you a couple ideas for inspiration:</p>

  <table class="row">
    <tr>
      <td class="article wrapper last">
        <h3><a href="https://getcarina.com/blog/push-button-lets-encrypt/">Push Button, Let’s Encrypt</a></h3>
        <p><img src="//fpoimg.com/580x200" alt="Cool Idea 1"></p>
        <p>We’re all really excited that Let’s Encrypt is now available in beta, and got to thinking how cool it would be to be able to spin up a container that encrypts your traffic with a signed certificate with just one command?</p>
        <p><a href="https://getcarina.com/blog/push-button-lets-encrypt/">Read the blog post to see how it works</a></p>
      </td>
    </tr>
  </table>
  <table class="row">
    <tr>
      <td class="article wrapper last">
        <h3><a href="https://getcarina.com/docs/tutorials/minecraft/">Explore Minecraft on Carina</a></h3>
        <p><img src="https://8d8dcdd952aa2708c2ff-519cda130c91226e76017ae910bdb276.ssl.cf1.rackcdn.com/minecraft-1f74ecfb2c9d4187bf957cabbcb4a56a2f83e0e9b99a4bb78c2cb20e7430733e.png" alt="Cool Idea 1"></p>
        <p>We’re all really excited that Let’s Encrypt is now available in beta, and got to thinking how cool it would be to be able to spin up a container that encrypts your traffic with a signed certificate with just one command?</p>
        <p><a href="https://getcarina.com/docs/tutorials/minecraft/">Read the blog post to see how it works</a></p>
      </td>
    </tr>
  </table>
  <table class="row goodbye">
    <tr>
      <td class="wrapper last">
        <p>Get your Carina experience started off right with these easy-to-implement use cases of our new container offering. Have fun!</p>
        <p>Thanks,<br>the Carina team</p>
      </td>
    </tr>
  </table>
{% endblock %}
