{% extends 'layouts/one-column-text.html' %}

{% block columnOne %}
  <table class="row">
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tr>
            <td class="center">
              <div class="mktEditable" id="intro-text">
                <p>Hello,</p>
                <p>Thank you for signing up for Carina by Rackspace, an easy-to-use, instant-on, native container environment service. We’re excited about the response we’ve received from users so far, and we can’t wait to bring you future updates and feature enhancements.</p>
                <p>If you haven’t had time to start using Docker & Docker Swarm on Carina, we’d like to make it as easy as possible for you to launch the apps you need and experiment with all the ideas you have tucked away.</p>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="row section-start">
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tr>
            <td class="center">
              <h3 class="center">
                <div class="mktEditable" id="videos-heading">
                  Go from zero to hero on Carina&nbsp;by&nbsp;Rackspace
                </div>
              </h3>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="row accent accent-border-below">
    <tr>
      <td class="wrapper">
        <table class="six columns">
          <tr>
            <td class="accent-content">
              <p>
                <a href="https://www.youtube.com/watch?v=HnnXMo3ecSA">
                  <img src="https://8d8dcdd952aa2708c2ff-519cda130c91226e76017ae910bdb276.ssl.cf1.rackcdn.com/carina-zero-to-hero-cli-video-817abf082006d3a7cdf7c253c083035632f7f7540e2e5fe5b0623529adbcc5eb.jpg" alt="Carina Zero to Hero CLI">
                </a>
              </p>
            </td>
          </tr>
        </table>
      </td>
      <td class="wrapper last">
        <table class="six columns">
          <tr>
            <td class="accent-content">
              <div class="mktEditable" id="video-1-text">
                <h5>Zero to Hero: CLI</h5>
                <p>Use the Carina CLI utility to create a new cluster and run a simple Wordpress site!</p>
              </div>
              <table class="button">
                <tr>
                  <td>
                    <a href="https://www.youtube.com/watch?v=HnnXMo3ecSA">Watch Video</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="row accent">
    <tr>
      <td class="wrapper">
        <table class="six columns">
          <tr>
            <td class="accent-content">
              <div class="mktEditable" id="video-2-text">
                <h5>Zero to Hero: GUI</h5>
                <p>Use the Carina GUI to create a new cluster and run a simple Wordpress site!</p>
              </div>
              <table class="button">
                <tr>
                  <td>
                    <a href="https://www.youtube.com/watch?v=FEzVdcwbPc4">Watch Video</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
      <td class="wrapper last">
        <table class="six columns">
          <tr>
            <td class="accent-content">
              <a href="https://www.youtube.com/watch?v=FEzVdcwbPc4">
                <img src="https://8d8dcdd952aa2708c2ff-519cda130c91226e76017ae910bdb276.ssl.cf1.rackcdn.com/carina-zero-to-hero-gui-video-e0f04df40198e7d3c2af98e08f3d9971927f30a6965e15f3b5865b12591331e1.jpg" alt="Carina Zero to Hero GUI">
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table class="row section-start">
    <tr>
      <td class="wrapper last">
        <div class="mktEditable" id="next-text">
          <h3>What do I do next?</h3>
          <p>We’re always shipping new content, tutorials, and how-to guides to help you take your clusters to the next level. If you find yourself asking “now what?” we’ve made content just for you:</p>
          <ul>
            <li><a href="https://getcarina.com/blog/push-button-lets-encrypt/">Push Button, Let's Encrypt</a>: If you have an application and want to secure it, read our push-button SSL article.</li>
            <li><a href="https://getcarina.com/docs/tutorials/minecraft/">Explore Minecraft on Carina</a>: Explore the 3D world of Minecraft with friends and family by starting your own Minecraft server on Carina.</li>
            <li>
              Running Wordpress or Drupal? We've got you covered:
              <ul>
                <li><a href="https://getcarina.com/docs/tutorials/drupal-and-swarm/">Run Drupal on Carina</a></li>
                <li><a href="https://getcarina.com/docs/tutorials/wordpress-apache-mysql/">Run Wordpress on Carina</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
  <table class="row goodbye">
    <tr>
      <td class="wrapper last">
        <div class="mktEditable" id="closing-salutation">
          <p>Thanks,<br>the Carina team</p>
        </div>
      </td>
    </tr>
  </table>
{% endblock %}
